.confluence-image-caption{
	padding: 10px;
    background: #111;
    color: white;
    margin: 0px 2px;
    box-sizing: border-box;
}

.confluence-image-caption a.caption-permalink{
	visibility: hidden;
	
}
.confluence-image-caption:hover a.caption-permalink{
	visibility: visible;
	color: inherit;
	text-decoration: none;
}
